<!doctype html>
<html>

<body>
   <form action="?" method="POST">
      <span><input type="submit" value="Back"></span><br>
   </form>
   <table border=1>
      <th> Name </th>
      <th> Second name </td>
      <th> Phone </th>
      <th> Edit </th>
      <th> Delete</th>
      {% for key, value in table.items() %}
      <tr>
         <td> {{ value.name }} </td>
         <td> {{ value.second_name }} </td>
         <td> {{ value.phone }} </td>
         <td><a href="{{ url_for('edit', key = key, name = value.name, sname = value.second_name, phone = value.phone) }}">
               <input type="submit" value="Edit"></td>
         <td>
            <form action="/table/delete/{{key}}" method="POST">
               <input type="submit" value="Delete"><br>
            </form>
         </td>
      </tr>
      {% endfor %}
   </table>
</body>

</html>