<!doctype html>
<html>

<body>
   <form action="/table/add">
      <input type="submit" value="Add person"><br>
   </form>
   <form action="?" method="POST">
      <input type="text" name='find_name'>
      <span><input type="submit" value="Find person"></span><br>
   </form>
   <table border=1>
      <th> Name </th>
      <th> Second name </td>
      <th> Phone </th>
      <th> Edit </th>
      <th> Delete</th>
      {% for row in rows %}
      <tr>
         <td> {{ row["name"] }} </td>
         <td> {{ row["second_name"] }} </td>
         <td> {{ row["phone"] }} </td>
         <td><a href="{{ url_for('edit', key = row['phone'], name = row['name'], sname = row['second_name'], phone = row['phone']) }}">
               <input type="submit" value="Edit"></td>
         <td>
            <form action="/table/delete/{{key}}" method="POST">
               <input type="submit" value="Delete"><br>
            </form>
         </td>
      </tr>
      {% endfor %}
   </table>
</body>

</html>